<div class="container" *ngIf="start">
  <div class="card text-center bg-success">
    <div class="card-body">
      <h5 class="card-title fw-bold text-white">Juega y Aprende</h5>
      <p class="card-text fw-bold text-white">Responde las preguntas</p>
      <button id="boton" class="btn btn-warning mt-1 mb-1 w-25" type="button" (click)="generarPalabra()"><i class="bi bi-play-fill"></i></button>
      <div class="card-footer text-black">
        Aprieta el boton cuando estes listo
      </div>    
    </div>
  </div>
</div>

<div class="container bg-secondary p-5 mt-5 rounded-3" *ngIf="play">
     <div class="card text-center">
      <div class="card-header">
        Lee atentamente la pregunta
      </div>
      <div class="card-body">
        <h5 class="card-title bg-warning rounded-2 p-1">Cuantas {{opcionCorrecta}} tiene la palabra: <br> {{palabraElejida}} ?</h5>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" *ngFor="let o of arrayOpciones">
              <div class="card-text">
                <button class="btn btn-primary mt-1 mb-1 w-100" type="button" (click)="verificarRespuesta(o)"><h5>{{o}}</h5></button>
              </div>
          </div>
      </div>
      </div>
      <div class="card-footer text-body-secondary">
        Elije una opcion de arriba
      </div>
    </div>
</div>

<div class="container rounded-2 bg-warning text-center pt-5 pb-4 mt-5" *ngIf="endGame">
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-1 w-25 rounded-4 fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Mostrar puntaje
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="text-center">
          <h1 class="modal-title fs-3 fw-bold">Informacion de la Partida</h1>
        </div>
        <div class="modal-body">
          <h4 class="text-primary">Respuestas correctas: {{contadorCorrecta}}</h4>
          <br>
          <h4 class="text-danger">Respuestas incorrectas: {{contadorIncorrecta}}</h4>
        </div>
        <div class="text-center container mb-4">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="recetearValores()">Ir a menu</button>
        </div>
      </div>
    </div>
  </div>

</div>
